<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Editing Competition</h2>
      <b><%= link_to 'Back', @competition %></b>
    </div>
  </div>
  <%= render 'form', competition: @competition %>
  <b><%= link_to 'Back', @competition %></b>
</div>
<%#= link_to 'Show', @competition %>