<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">New Competition</h2>
    </div>
  </div>
  <%= render 'form', competition: @competition %>
  <b><%= link_to 'Back', competitions_path %></b>
</div>