<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow"/>
    <title>CricketApp - Earn Free Cash, Gifts</title>
    <meta name="keywords" content="cashpandas,free cash,paytm,paypal">
    <meta name="description" content="Download CashPanda and Get unlimited free Paytm, Paypal Cash by Offerwall, GK Quiz and Games"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
    <%= csrf_meta_tags %>
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->    
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- <link href="/css/metisMenu.min.css" rel="stylesheet"> -->
    <link href="https://start-angular.github.io/sb-admin-angular/preview/styles/sb-admin-2.css" rel="stylesheet">
    <!-- <link href="/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">    

    <style type="text/css">
      .page-header{margin: 10px 0 15px !important;}
    </style>
  </head>
  <body>
    <div id="wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>